:root {
  --background-color: linear-gradient(#081221, #03080f);
  --card-background: #0e1a2b; 
  --input-background: #182c47;
  --heading-text: #fff;
  --text: #c1d1e8;
  --buttons: #5692e8;
}

body {
  background: var(--background-color);
  min-height: 100vh;
  color: var(--text);
}

.App {
  margin: 0 10%;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a{
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.App-header a:focus {
  color: blue;
}
.App-link {
  color: #61dafb;
}

.form {
  background-color: var(--card-background);
  padding: 1.5em;
}

.form h3 {
  margin-top: 0;
  margin-bottom: 1em;
}

.form input, textarea {
  margin: 5px 0 1em 0;
  height: 2em;
  background-color: var(--input-background);
  border: none;
}

.form textarea {
  height:fit-content;
}

.form button {
  background-color: var(--buttons);
  color: white;
  width: fit-content;
  padding: .5em 1.5em;
  border: none;
  align-self: flex-end;
}

