:root {
  --background-color: linear-gradient(#081221, #03080f);
  --card-background: #0e1a2b;
  --input-background: #182c47;
  --heading-text: #fff;
  --text: #c1d1e8;
  --buttons: #5692e8;
}

body {
  background: var(--background-color);
  min-height: 100vh;
  color: var(--text);
}

p {
  font-size: 12px;
  font-family: "Mulish", "Arial";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form {
  background-color: var(--card-background);
  height: fit-content;
}

.form h3 {
  margin-top: 0;
  margin-bottom: 1em;
}

.form input,
textarea,
button {
  margin: 0 0 1em 0;
  padding: 0.35em 1em;
  background-color: var(--input-background);
  color: var(--text);
  border: none;
  outline: none;
  font-size: small;
}

.form textarea {
  height: fit-content;
}

.form button {
  background-color: var(--buttons);
  padding: 0.4em 1.4em;
  color: white;
  width: fit-content;
  align-self: flex-end;
  outline: none;
  font-size: small;
}

.form ::placeholder {
  color: var(--text);
}

.hide {
  display: nones;
}
